body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/335/641/non_2x/white-background-and-wallpaper-by-crumpled-paper-texture-free-photo.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(127, 140, 255);
}
